*{  margin: 0; 
    padding:0;}

    nav{    background-color: black; 
            color: white;
            border-bottom-left-radius:5% ;
            border-bottom-right-radius: 5%;
            box-shadow: 0px 0px 120px red;}
    
            li,ul,h1{   display: inline;
                        font-style: italic;}
    
                ul{ margin-left: 66%;}
    
    li{ color: gray;
        cursor: pointer;}
    
    li:hover{color: white;}
    
    .searchbar{ padding: 40px;
                text-align: center;}
    
        input{  width: 60%;
                padding: 15px;}

    .products{text-align: center;}

        .box{   border-color: black;
                border-width: 2px;
                border-style: solid;
                display: inline-block;
                width: 220px;
                background-color: black;
                color: wheat;}

        .box:hover{ background-color: rgb(255, 244, 244);
                    color: gray;}
    
    .about{ text-align: center;
            margin-top: 20px;
            padding: 20px;}

    .contact{   background-color: black;
                color: white;
                text-align: center;
                padding: 40px;
                box-shadow: 0px 0px 120px blue;}